.NotFound{
    display: flex;
    flex-direction: column;
}

.msg span{
    color: var(--accent-font-color);
}
.links{
    margin: 15px;
}
.link{
    padding: 20px;
}
.gameContainer{
    width: 90vw;
    height: 70vh;
    margin: auto;
}
.gameinfo{
    margin: 15px;
    position: relative;
}
.gameinfo img{
    width: 100%;
    height: 70vh;
    border-radius: 3px;
}
.gameDate,
.gameName,
.gamePlatform{
    position: absolute;
    background-color: #fafafa;
    color:var(--accent-font-color)
}
.gameName{
    top:10px;
    right:0px;
}
.gameDate{
    bottom:10px;
    left:0px;
}
.gamePlatform{
    bottom:10px;
    right:0px;
}