.NotFound{
    display: flex;
    flex-direction: column;
}

.msg span{
    color: var(--accent-font-color);
}
.links{
    margin: 15px;
}
.link{
    padding: 20px;
}
.gameContainer{
    width: 90vw;
    height: 70vh;
    margin: auto;
}
.gameInfo{
    margin: 35px;
    position: relative;
}
.gameInfo img{
    width: 100%;
    height: 50vh;
    border-radius: 5px;
    border: 1px dashed var(--accent-font-colorShade);
    border-top: none;
}
.gameFacts{
    color: var(--accent-font-color);
    border: 1px dashed var(--accent-font-colorShade);
    border-bottom: none;
}
.gamePlatform{
    margin:5px;
}