.dark{
  --bkg-color: #030d0c;
  --font-color: #f2f2f2;
  --accent-font-color: #2cdbcf;

}
.light{
  --bkg-color: #d4d4d4;
  --font-color: #0f0f0f;
  --accent-font-color: #1e8881;
}


.App {
  text-align: center;
  background-color: var(--bkg-color);
  color: var(--font-color);
  height: 100vh;
}

.App-header {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  font-size: calc(10px + 1vmin);
  color: var(--font-color);
  border-bottom: .2px dashed var(--font-color);
}

.App-link {
  color: var(--accent-font-color);;
}
