*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}



@media (prefers-color-scheme: dark) {
  html{
    --bkg-color: #030d0c;
    --font-color: #f2f2f2;
    --accent-font-color: #2cdbcf;
  }
}
@media (prefers-color-scheme: light) {
  html{
    --bkg-color: #d4d4d4;
    --font-color: #0f0f0f;
    --accent-font-color: #1e8881;
  }
}
html.dark{
  --bkg-color: #030d0c;
  --font-color: #f2f2f2;
  --accent-font-color: #2cdbcf;
}
html.light{
  --bkg-color: #d4d4d4;
  --font-color: #0f0f0f;
  --accent-font-color: #1e8881;
}

body{
  background-color: var(--bkg-color);
  color: var(--font-color);
}