*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: 'Josefin Sans', 'Fira Sans', 'Droid Sans',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}



@media (prefers-color-scheme: dark) {
  body{
    --bkg-color: #030d0c;
    --font-color: #f2f2f2;
    --accent-font-color: #2cdbcf;
  }
}
@media (prefers-color-scheme: light) {
  body{
    --bkg-color: #d4d4d4;
    --font-color: #0f0f0f;
    --accent-font-color: #1e8881;
  }
}